<html>
    <head>
        <title>Welcome to Virtual Face Painting!</title>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
          <%- include('../partials/header'); %>
        </header>
        <div class="card-deck">
        <% for (var i=0; i < images.length; i++) { %>
        <div class="card mb-4" style="width: 18rem;">
            <img class="card-img-top" src="data:image/<%=images[i].image.contentType%>;base64, 
                <%=images[i].image.data.toString('base64')%>" width="100">
            <div class="card-body">
              <h5 class="card-title"><%=images[i].name%></h5>
              <a href="/draw/<%=images[i].userid%>" class="btn btn-primary">Paint <%=images[i].name%></a>
              <%var hasDrawn = false; 
                for (var j=0; j<drawings.length; j++) {
                  if (drawings[j].target_userid == images[i].userid) {
                      hasDrawn = true;
                      break;
                  }
                }
                if (hasDrawn) {%>
                    <a href="/drawdelete/<%=images[i].userid%>" class="btn btn-danger">Delete Painting of <%=images[i].name%></a>
                <% } %>
            </div>
        </div>
        <% } %>
        </div>
         
    </body>
</html>