<!DOCTYPE html> 
<html lang="en"> 
  
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Image Uploading</title> 
    <%- include('../partials/head'); %>
</head> 
  
<body class="container">
    <header>
      <%- include('../partials/header'); %>
    </header>
    <h1 class="col-md-8 mx-auto">Upload My Picture</h1> 
    <hr> 
    <div class="row">
        <div class="col-md-8 mx-auto">
            <% if (drawing_count > 0) {%>
            <p class="text-danger">Sorry you can't update your picture, because your current picture has been painted by <%= drawing_count %> people.</p>
            <% } else { %>
            <form action="/upload" method="POST" enctype="multipart/form-data"> 
                <div> 
                    <label for="image">Upload Image</label> 
                    <input type="file" id="image" class="btn-secondary"
                           name="image" value="" required> 
                </div> 
                <div> 
                    <button type="submit" class="btn-primary">Submit</button> 
                </div> 
            </form> 
            <% } %>
        </div>
    </div>
  
    <hr> 
    <h1 class="col-md-8 mx-auto">My Current Picture</h1> 
    <div clas="row">
    <% if (image != null) { %>
    <div class="col-md-8 mx-auto"> 
        <img src="data:image/<%=image.image.contentType%>;base64, 
                <%=image.image.data.toString('base64')%>" width="500"> 
    </div> 
    <% } else { %>
    <div class="col-md-8 mx-auto">
        <p>No Picture Uploaded</p>
    </div>
    <% } %>
    </div>
</body> 
  
</html> 